// clearfix
@mixin clearfix {
	&:after {
      content: "";
      display: table;
      clear: both;
    }
}

// super light grid
@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}

// gradient
@mixin background-image($dir, $color1, $color2) {
	background-image: -o-linear-gradient($dir, $color1 0%, $color2 100%);
    background-image: -moz-linear-gradient($dir, $color1 0%, $color2 100%);
    background-image: -webkit-linear-gradient($dir, $color1 0%, $color2 100%);
    background-image: -ms-linear-gradient($dir, $color1 0%, $color2 100%);
    background-image: linear-gradient(to $dir, $color1 0%, $color2 100%);
}

// box shadow
@mixin box-shadow($hori, $vert, $blur, $spread, $color) {
	-webkit-box-shadow: $hori $vert $blur $spread $color;
	-moz-box-shadow: $hori $vert $blur $spread $color;
	-ms-box-shadow: $hori $vert $blur $spread $color;
    box-shadow: $hori $vert $blur $spread $color;
}
