// color variables

$light: #fff;
$dark: #000;
$lightgrey: #FAFAFA;
$grey: #F2F2F2;
$darkgrey: #CDCDCD;
$green: #00D73B;
$red: #E66072;
$darkred: #B00C23;
$blue: #1EA4D0;

//Font variables
$fontfamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$thin: 200;
$normal: 400;
$bold: 600;
$heavy: 800;