@import "variables";
@import "mixins";
@import "reset";

/* Base Styles */
body {
    font-family: $fontfamily;
}

p {
	font-weight: $thin;
}

/* Header Style */
#header {
	@include clearfix;
	background: $lightgrey;
	@include box-shadow(1px, 0, 1px, 2.5px, rgba($darkgrey, 0.6));

	.client-section, 
    .nav-section,
    .auth-section li,
    .nav-section li {
	   display: inline-block;
    }

    .auth-section li,
    .nav-section li {
    	font-size: 12px;
    	color: rgba($dark, 0.5);
    }

    .logo-section {
    	@include column(0.1);
    	padding: 10px 0 0 25px;

    	img {
    		width: 90%;
    		margin-top: 3px;
    	}
    }

    .client-section,
    .nav-section, .auth-section {
    	padding: 10px 0 0 0;
    }
    .client-section {
    	@include column(0.1);
    	padding-left: 30px;
    }

    .nav-section {
    	@include column(0.25);
    	text-transform: capitalize;

    	li {
    		padding: 5px 5px;

    		&:last-child {
    			border-bottom: 5px solid $green;
    			padding-left: 18px;
    			padding-right: 18px;
    			padding-bottom: 7px;
    		}
    	}
    }

    .auth-section {
    	float: right;
    	padding-right: 10px;

    	li {
    		margin-right: 10px;
    	}

    	.btn {
    		padding: 7px 7px;
    		border-radius: 5px;
    		border: 1px solid #CE6A6D;
    		color: $light;
    		@include background-image(bottom, $red, $darkred);
    	}
    }

    .select-group {
	  -webkit-appearance: none;
	     -moz-appearance: none;
	          appearance: none;
      border: 1px solid rgba($dark, 0.1);
      padding: 3px 5px;
      color: rgba($dark, 0.5);
      // background: url(..select.png) no-repeat 95% 50%;
      border-radius: 0px;
      font-size: 11px;
      -webkit-box-shadow: -1px 1px 1px rgba($dark, 0.6);
      box-shadow: -1px 1px 1px rgba($dark, 0.6);
    }
    
    .select-client {
    	margin-top: 5px;
    	margin-bottom: 12px;
    	padding-left: 12px;
    	width: 110px;
    }

    .select-report {
    	width: 80px;
    	padding-left: 12px;
    	border-radius: 5px;
    }
}

/* Main Content Styles */

#main-content {
	@include clearfix;
	margin-top: 2.5px;

	/* Sidebar Styles */

	.sidebar {
		@include column(0.24);
		background: $grey;
		height: 100vh;

		.container {
			padding: 28px 12% 0 12%;
		}

		h1 {
			font-size: 28px;
			letter-spacing: 1px;
			line-height: 1.2;
			color: rgba($dark, 0.5);
		}

		.help-section {
			margin-top: 32px;
			margin-bottom: 28px;
			font-size: 13px;
			color: rgba($dark, 0.6);
			@include clearfix;

			span:first-child {
               float: left;
			}

			span:last-child {
				float: right;
			}
		}

		.date-section {
           label, input[type="text"] {
           	  display: block;
           }

           label {
           	  font-size: 11px;
           	  color: rgba($dark, 0.5);
           	  font-weight: 500;
           	  margin-bottom: 6px;
           }

           p:first-child {
           	  margin-bottom: 15px;
           }

           p:last-child {
           	  margin-bottom: 35px;
           }

           .input-control {
           	  width: 95%;
           	  padding: 7px 0 7px 8px;
           	  border-radius: 5px;
           	  background-color: #fff;
           	  color: rgba($dark, 0.6);
           	  font-size: 13px;
           	  border: 1px solid rgba($dark, 0.2);
           	  @include box-shadow(-1px, -1px, 3px, 0.5px, rgba($dark, 0.5));

           	  &:focus {
           	  	 outline: none;
           	  	 background: rgba($dark, 0.1)
           	  }
           }
		}
			
	}

	.chart-section {
		@include column(0.76);

		.container {
			padding: 20px 4% 0 3%;
		}

		h1 {
			text-align: center;
			font-size: 20px;
		}
        
        .controls-section {
        	@include clearfix;
        	margin-bottom: 15px;

        	.data-control {
				@include column(0.4);
				margin-right: 2%;
			}

			.days-control {
				@include column(0.58);

				.btn-group .btn {
					width: 12.5%;
				}
			}

			p {
				color: rgba($dark, 0.6);
				font-size: 12px;
				margin-bottom: 5px;
				font-weight: $normal;
			}

			.data-control, .days-control {
				.btn-group .btn {
                    
				   &:first-child {
			       	   border-top-left-radius: 0;
			       	   border-bottom-left-radius: 0;
			       }

			       &:last-child {
			       	   border-top-right-radius: 0;
			       	   border-bottom-right-radius: 0;
			       }
				}
			}
        }

        .bar-chart-section {
        	border: 2px solid rgba($dark, 0.2);

        	h1 {
        		color: rgba($dark, 0.6);
        		font-weight: 500;
        		margin-top: 10px;
        		margin-bottom: 5px;
        	}
        }
	}

}

.btn-group {
	width: 100%;
	.btn {
       width: 25%;
       padding: 8px 0;
       font-size: 12px;
       font-weight: $normal;
       border: 2px solid rgba($dark, 0.15);

       &:first-child {
       	   border-top-left-radius: 5px;
       	   border-bottom-left-radius: 5px;
       }

       &:not(:last-child) {
       	   border-right: none;
       }

       &:last-child {
       	   border-top-right-radius: 5px;
       	   border-bottom-right-radius: 5px;
       }

    }

    .btn-normal {
    	background: $light;
    	color: rgba($dark, 0.6);
    }

    .btn-active {
    	background: $darkgrey;
    	color: $light;
    	border-color: transparent;
    }
}



