<div class="controls-section">
	<div class="data-control">
		<p>Data Type:</p>
		<div class="btn-group">
			<button class="btn btn-active">Size</button><button class="btn btn-normal">Hours</button><button class="btn btn-normal">Avg Hours</button><button class="btn btn-normal">Revenue</button>
		</div>
	</div>

	<div class="days-control">
		<p>Days:</p>
		<div class="btn-group">
			<button class="btn btn-active">All</button><button class="btn btn-normal">M</button><button class="btn btn-normal">T</button><button class="btn btn-normal">W</button><button class="btn btn-normal">Th</button><button class="btn btn-normal">F</button><button class="btn btn-normal">S</button><button class="btn btn-normal">Su</button>
		</div>
	</div>
</div>