<div id="header">
	<div class="logo-section">
		<img src="img/smarking-logo.png" alt="Logo for Smarking" />
	</div>
    
    <div class="client-section">
    	<select class="select-group select-client">
    		<option>Allen Center</option>
    		<option>Seattle center</option>
    		<option>North Quad</option>
    		<option>SFO Airport</option>
    		<option>LAX</option>
    	</select>
    </div>
	<nav class="nav-section">
		<ul>
			<li>dashboard</li>
			<li>
				<select class="select-group select-report">
		    		<option>Reports</option>
		    		<option>All</option>
		    	</select>
			</li>
		</ul>
	</nav>

	<div class="auth-section">
		<ul>
			<li>Username</li>
			<li>
				<button class="btn">Log Out</button>
			</li>
		</ul>
	</div>
</div>