<div class="sidebar">
   <div class="container">
   	 <h1>Access Group Analysis</h1>
   	 <div class="help-section">
   	 	<span>Other Reports</span>
   	 	<span>Help!</span>
   	 </div>

   	 <div class="date-section">
   	 	<p>
   	 		<label>From:</label>
   	 		<input type="text" class="input-control" value="January 1, 2015" name="startdate">
   	 	</p>

   	 	<p>
   	 		<label>To:</label>
   	 		<input type="text" class="input-control" value="March 12, 2015" name="enddate">
   	 	</p>
   	 </div>

   	 <div class="period-section">
   	 	<div class="btn-group">
   	 		<button class="btn btn-normal">1M</button><button class="btn btn-normal">3M</button><button class="btn btn-active">6M</button><button class="btn btn-normal">1Y</button>
   	 	</div>
   	 </div>
   </div>
</div>